/*========================================================
*
*
*                      Universal Styling
*
*
===========================================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  color: #fbfbfb;
  background-image: linear-gradient(#0051e5, #02aee0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.cloud {
  width: 175px;
}

.orange-line {
  width: 80px;
  padding: 10px 0 30px;
  margin: 0 auto;
  display: block;
}

h2 {
  padding: 5px 0;
  font-size: 30px;
  text-align: center;
}

/*========================================================
*
*
*                      Header
*
*
===========================================================*/
header {
  position: fixed;
  text-align: right;
  left: 0;
  right: 0;
  margin: 40px 20px 0;
  z-index: 99;
}

header nav ul li {
  display: inline;
  text-align: right;
  padding: 15px 0 10px;
}

header nav ul li:hover {
  background-image: linear-gradient(#f77c2a, #fad126);
  border-radius: 7px;
}

.logo {
  float: left;
  position: relative;
  top: -15px;
  width: 75px;
}

.logo-cloud-top {
  width: 40px;
  position: relative;
  top: -75px;
  right: -17px;
}

.logo-cloud-top:hover {
  animation: logo-drift-top 1s forwards 1 linear;
}

.logo-cloud-bottom {
  width: 40px;
  position: relative;
  top: -65px;
  left: -50px;
}

.logo-cloud-bottom:hover {
  animation: logo-drift-bottom 1s forwards 1 linear;
}

header nav a {
  text-decoration: none;
  color: #fbfbfb;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05rem;
  font-weight: 500;
  font-size: 20px;
  margin: 20px 20px 0;
}

@keyframes logo-drift-top {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-75px);
  }
}

@keyframes logo-drift-bottom {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(65px);
  }
}

/*========================================================
*
*
*                      Home Section
*
*
===========================================================*/

.home .container {
  text-align: center;
  position: relative;
}

.ground {
  width: 100%;
  bottom: -180px;
  position: relative;
  z-index: 5;
}

h1 {
  font-size: 30px;
  line-height: 1.6;
  letter-spacing: .05rem;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.sun {
  width: 300px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.home-clouds1 {
  width: 95%;
  position: absolute;
  z-index: 3;
  left: -1500px;
  top: 120px;
  animation: idrift 90s forwards infinite linear 45s;
}

.home-clouds2 {
  width: 95%;
  position: absolute;
  z-index: 3;
  left: -1500px;
  top: 120px;
  animation: idrift 90s forwards infinite linear;
}

.home-clouds3 {
  width: 95%;
  position: absolute;
  z-index: 3;
  right: -1500px;
  top: 120px;
  animation: drift 120s forwards 1 linear;
}

@keyframes idrift {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(3000px);
  }
}

@keyframes drift {
  from {
    transform: translateX(-1500px);
  }

  to {
    transform: translateX(3000px);
  }
}

/*========================================================
*
*
*                      About Section
*
*
===========================================================*/

.about .container {
  padding: 50px 0 150px;
  position: relative;
  margin: 300px 250px 0 200px;
  position: relative;
}

.profile-pic {
  float: left;
  width: 40%;
  margin-right: 125px;
  border-radius: 20px;
}

h3 {
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: .05rem;
}

.orange-lines {
  width: 150px;
  padding-top: 30px;
}

.about-text {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 27px;
}

.about-cloud1 {
  position: absolute;
  top: -100px;
  left: 0;
}

.about-cloud2 {
  position: absolute;
  top: -90px;
  right: 170px;
}

.about-cloud3 {
  position: absolute;
  top: 100px;
  right: -250px;
}

.about-cloud4 {
  position: absolute;
  bottom: 50px;
  right: -300px;
}

.about-cloud5 {
  position: absolute;
  bottom: -25px;
  right: 100px;
}

.about-cloud6 {
  position: absolute;
  bottom: -100px;
  left: 100px;
}

.about-cloud7 {
  position: absolute;
  bottom: 0;
  left: -200px;
}

.about-cloud8 {
  position: absolute;
  top: 200px;
  left: -300px;
}

/*========================================================
*
*
*                      Work Section
*
*
===========================================================*/

.work .container {
  position: relative;
  padding-bottom: 100px;
  padding: 50px 0;
  position: relative
}

.work {
  text-align: center;
}

.work-cloud1 {
  position: absolute;
  top: 200px;
  right: 0;
}

.work-cloud2 {
  position: absolute;
  bottom: 100px;
  right: -50px;
}

.work-cloud3 {
  position: absolute;
  bottom: -200px;
  right: 100px;
}

.work-cloud4 {
  position: absolute;
  bottom: -100px;
  left: 300px;
}

.work-cloud5 {
  position: absolute;
  bottom: 20px;
  left: 0px;
}

.work-cloud6 {
  position: absolute;
  top: 200px;
  left: -100px;
}

.slider-img {
  height: 400px;
  margin: 0 50px;
  border-radius: 5px;
}

.lb-caption {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/*========================================================
*
*
*                      Slider Styling
*
*
===========================================================*/

.slider {
  margin: 0 auto;
  width: 800px;
}

.slick-slide {
  position: relative;
}

.slick-prev:before {
  content: "\f0a8";
  font-family: "FontAwesome";
  color: #fbfbfb;
  font-size: 26px;
}

/*========================================================
*
*
*                      Contact Section
*
*
===========================================================*/

.contact .container {
  position: relative;
  padding: 50px 0;
  max-width: 900px;
  margin: 0 auto;
}

.orange-lines {
  width: 150px;
  padding-top: 30px;
  margin: 0 auto;
}

.contact p {
  text-align: center;
  max-width: 400px;
  margin: 10px auto 20px;
  line-height: 1.6;
}

.contact-form {
  max-width: 500px;
  border-radius: 5px;
  color: #fbfbfb;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 30px;
}

.label_input_wrap {
  display: block;
  margin-bottom: 5px;
}
.input-section {
  margin-bottom: 10px;
}

input {
  padding: 5px 10px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

textarea {
  border-radius: 4px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

label {
  font-weight: 600;
}

.submit {
  text-align: center;
}

.submit input {
  background-image: linear-gradient(#fad126, #f77c2a);
  color: #fbfbfb;
  padding: 9px 24px;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: .05rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.submit input:hover {
  background-image: linear-gradient(#f77c2a, #fad126);
}

/*========================================================
*
*
*                      Footer
*
*
===========================================================*/

footer {
  text-align: center;
  height: 100px;
}

.footer p {
  margin-bottom: 50px;
  padding-bottom: 100px color: #fbfbfb;
}
