/*========================================================
*
*
*                      Universal Styling
*
*
===========================================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: linear-gradient(#0051e5, #02aee0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  color: #fbfbfb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
}

.cloud {
  width: 175px;
  position: absolute;
}

.orange-line {
  width: 80px;
  padding: 10px 0 40px;
  margin: 0 auto;
  display: block;
}

h2 {
  padding: 5px 0;
  font-size: 30px;
  letter-spacing: .05rem;
  text-align: center;
}

/*========================================================
*
*
*                      Header
*
*
===========================================================*/
header {
  position: fixed;
  text-align: right;
  left: 0;
  right: 0;
  margin: 40px 20px 0;
  z-index: 99;
}

header nav ul li {
  display: inline;
  text-align: right;
  padding: 12px 0 7px;
  border-radius: 4px;
  transition: 1s ease-in-out;
}

header nav ul li:hover {
  background-image: linear-gradient(#f77c2a, #fad126);
  transition: 1s ease-in-out;
}

header nav a {
  text-decoration: none;
  color: #fbfbfb;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05rem;
  font-weight: 500;
  font-size: 20px;
  margin: 20px 15px 0;
}

.logo {
  float: left;
}

.logo-div {
  position: relative;
  top: -35px;
  background-image: url('../images/logo.png');
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-size: 75px 75px;
  transition: 0.5s ease-in-out;
}

.logo-div:hover {
  background-image: url('../images/reverse-logo.png');
  transition: 0.5s ease-in-out;
}

/*========================================================
*
*
*                      Home Section
*
*
===========================================================*/
.home {
  text-align: center;
  position: relative;
}

.home h1 {
  font-size: 30px;
  line-height: 1.6;
  letter-spacing: .05rem;
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.sun {
  width: 300px;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.ground {
  width: 100%;
  bottom: -180px;
  position: relative;
  z-index: 5;
}

.home-clouds1 {
  width: 95%;
  position: absolute;
  z-index: 3;
  left: -1500px;
  top: 95px;
  animation: idrift 90s forwards infinite linear 45s;
}

.home-clouds2 {
  width: 95%;
  position: absolute;
  z-index: 3;
  left: -1500px;
  top: 95px;
  animation: idrift 90s forwards infinite linear;
}

.home-clouds3 {
  width: 95%;
  position: absolute;
  z-index: 3;
  right: -1500px;
  top: 80px;
  animation: drift 120s forwards 1 linear;
}

@keyframes idrift {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(3000px);
  }
}

@keyframes drift {
  from {
    transform: translateX(-1500px);
  }

  to {
    transform: translateX(3000px);
  }
}

/*========================================================
*
*
*                      About Section
*
*
===========================================================*/
.about {
  padding-top: 50px;
  position: relative;
  margin: 300px 225px 200px 225px;
}

.profile-pic {
  width: 345px;
  margin-right: 100px;
  border-radius: 20px;
}

figure {
  float: left;
}

figcaption {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  padding-top: 3px;
}

.about h3 {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: .05rem;
  padding-top: 30px;
}

.orange-lines {
  width: 150px;
  padding: 20px 0;
}

.scroll-down {
  clear: both;
  text-align: center;
  padding-top: 50px;
  font-weight: 500;
}

.scroll-down:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: #fbfbfb;
  padding-top: 10px;
  font-size: 26px;
  display: block;
}

.about-cloud1 {
  top: -100px;
  left: 0;
}

.about-cloud2 {
  top: -90px;
  right: 170px;
}

.about-cloud3 {
  top: 100px;
  right: -250px;
}

.about-cloud4 {
  bottom: 50px;
  right: -300px;
}

.about-cloud5 {
  bottom: -25px;
  right: 100px;
}

.about-cloud6 {
  bottom: -100px;
  left: 100px;
}

.about-cloud7 {
  bottom: 0;
  left: -200px;
}

.about-cloud8 {
  top: 200px;
  left: -300px;
}

/*========================================================
*
*
*                      Work Section
*
*
===========================================================*/
.work {
  position: relative;
  padding: 50px 0 100px;
  text-align: center;
}

.work-cloud1 {
  top: 0;
  left: 100px;
}

.work-cloud2 {
  top: -150px;
  right: 100px;
}

.work-cloud3 {
  top: 200px;
  right: 0;
}

.work-cloud4 {
  bottom: 100px;
  right: -50px;
}

.work-cloud5 {
  bottom: -50px;
  right: 250px;
}

.work-cloud6 {
  bottom: -100px;
  left: 300px;
}

.work-cloud7 {
  bottom: 20px;
  left: 0;
}

.work-cloud8 {
  top: 200px;
  left: -100px;
}

/*========================================================
*
*
*                      Slider Styling
*
*
===========================================================*/
.slider {
  margin: 0 auto;
  width: 800px;
}

.slider-img {
  height: 400px;
  margin: 0 50px;
  border-radius: 5px;
}

.lb-caption {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fbfbfb;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #fbfbfb;
}

.slick-slide {
  position: relative;
}

.slick-prev {
  left: -35px;
}

.slick-prev:before {
  content: "\f053";
  font-family: "FontAwesome";
  color: #fbfbfb;
  font-size: 30px;
}

.slick-next {
  right: -35px;
}

.slick-next:before {
  content: "\f054";
  font-family: "FontAwesome";
  color: #fbfbfb;
  font-size: 30px;
}

img.lb-image {
  height: auto !important;
  width: 700px !important;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #fbfbfb;
  padding-top: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*========================================================
*
*
*                      Contact Section
*
*
===========================================================*/
.contact {
  position: relative;
  padding: 50px 0;
  max-width: 900px;
  margin: 0 auto;
}

.contact p {
  text-align: center;
  max-width: 400px;
  margin: 0 auto 20px;
  line-height: 1.6;
}

.contact-form {
  max-width: 500px;
  border-radius: 5px;
  color: #fbfbfb;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 30px;
}

.label_input_wrap {
  display: block;
  margin-bottom: 5px;
}

.input-section {
  margin-bottom: 10px;
}

input {
  padding: 5px 10px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

textarea {
  border-radius: 4px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

label {
  font-weight: 600;
}

.submit input {
  background-image: linear-gradient(#fad126, #f77c2a);
  color: #fbfbfb;
  padding: 9px 24px;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: .05rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.submit input:hover {
  background-image: linear-gradient(#f77c2a, #fad126);
}

.contact-cloud1 {
  top: 300px;
  right: 300px;
}

.contact-cloud2 {
  top: 200px;
  right: -300px;
}

.contact-cloud3 {
  bottom: 300px;
  right: -100px;
}

.contact-cloud4 {
  bottom: 0;
  right: 0;
}

.contact-cloud5 {
  bottom: -50px;
  left: -200px;
}

.contact-cloud6 {
  bottom: 300px;
  left: 0;
}

.contact-cloud7 {
  top: 200px;
  left: -200px;
}

/*========================================================
*
*
*                      Footer
*
*
===========================================================*/
footer {
  text-align: center;
  height: 100px;
}

footer p {
  padding: 100px 0 100px;
}
